$font-stack:   "Roboto", sans-serif;
$primary-color: #2c3e50;
$border-color : #c1c1c1;
$frm_bg: #eeeeee;
$hover: #3498DB;
#hcard{
  padding: 20px 0;
  .title-head{
    background-color: $hover;
    text-align: center;
    text-transform: uppercase;
    h1.title{
      color: #fff;
    }
  }
  .preview-pan{
    padding:20px 10px 20px 10px;
    border-width:2px 2px 0 2px;
    border-color: $frm_bg;
    border-style: dotted;
    color: #333333;
    .post-title{
      text-transform: uppercase;
      color: $primary-color;
    }
    .post-content{
      padding: 5px 0;
    }
    .post-img{
      width: 100%;
      img{
        opacity: 0.7;
        webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        -transform: scale(1);
        &:hover{
          opacity: 1.0;
          webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);
          z-index: -10;
        }
      }
    }
    .post-tags{
      p{
        font-size: 16px;
        font-family: $font-stack;
        text-transform: uppercase;
        a{
          font-size: 14px;
          text-transform: none;
          margin-left: 5px;
          color: #333333;
          margin-right: 5px;
          &:hover{
            color: $hover;
          }
        }
      }
    }
    .post-address{

      span{
        font-size: 16px;
        font-family: $font-stack;
        text-transform: uppercase;
      }
      span.address-txt p{
        font-size: 14px;
        text-transform: none;
        margin: 0;
        padding: 5px 0 0 40px;
      }

    }
    .post-gallery{
      height: auto;
      overflow: hidden;
      padding: 5px 0;
      p{
        font-size: 16px;
        font-family: $font-stack;
        text-transform: uppercase;
      }
      ul{
        width: 100%;
        li{
          float: left;
          width: 50%;
          padding: 5px;
          height: 200px;
          border: 2px solid $frm_bg;
          img{
            width: 100%;
            height: 100%;
            opacity: 0.7;
            webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            &:hover{
              opacity: 1.0;
              webkit-transition: all 0.6s ease-in-out;
              -moz-transition: all 0.6s ease-in-out;
              -ms-transition: all 0.6s ease-in-out;
              -o-transition: all 0.6s ease-in-out;
              transition: all 0.6s ease-in-out;
            }
          }
          &:hover{
            border: 2px solid $primary-color;
            webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
          }
        }
      }
    }
    .post-url{
      p{
        font-size: 16px;
        font-family: $font-stack;
        text-transform: uppercase;
      }
      a{
        font-size: 14px;
        text-transform: none;
        margin-left: 5px;
        color: #333333;
        margin-right: 5px;
        text-decoration: underline;
        &:hover{
          color: $hover;
          text-decoration: none;
          webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        }
      }
    }
  }
  #frontend-frm{
    padding: 20px 0;
//    background-color: $frm_bg;
    background-color: rgba(6, 147, 244, 0.32);
    h1{
      font-size: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #364a5d;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        padding: 0;
        margin: 0;
      }
    }
    li.gfield{
      padding-left:20px;
      width: 99%;
      float: left;
      position: relative;
      height: 60px!important;
      margin-top: 10px;

      .gfield_label{
        margin-bottom: 5px;
        position: absolute;
        left: 20;
        top: 0px;
        font-weight: 400;
        font-size: 12px;
        font-family: Roboto;
        color: $primary-color;
        text-transform: uppercase;
        margin-left: 10px;
      }
      .ginput_container{
        top: 20px;
        position: absolute;
        width: 90%;
        input[type="text"]{
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          height: 30px;
          background-color: #fff;
        }
        input[type="file"]{
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          height: 30px;
          background-color: #fff;
          width: 100% !important;
          padding-left: 10px;
        }
      input[type="button"]{
        border: 1px dotted #dbdbdb;
        border-radius: 2px;
        height: 30px;
        background-color: transparent;
        width: 100% !important;
        padding-left: 10px;
      }
        textarea{
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          background-color: #fff;
        }
      }
    }
    li.gsection{
      height: 20px!important;
      h2.gsection_title{
        font-size: 14px;
        font-weight: 500;
        color: #b9b9b9;
        padding-bottom: 5px;
        border-bottom: 1px solid;

      }
    }
    .gform_wrapper .gform_body .gform_fields li#field_1_15.gfield{
      height: 100px!important;
    }
    .gform_wrapper .gform_body .gform_fields li#field_1_20.gfield{
      height: 200px!important;
      .ginput_container .ginput_container_list .ginput_list{

        #input_1_20_shim{
          top:1px;
        }
      }
    }

  }

  .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type="image"], .gform_wrapper .gform_footer input[type="submit"] {
    background-color: transparent;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }

  #gform_1{

    .gform_footer{
      margin-left: 20px;
    }

  }
  .btn, .btn-large{
    background-color: #3498db!important;
  }
}