#hcard {
  padding: 20px 0; }
  #hcard .title-head {
    background-color: #3498DB;
    text-align: center;
    text-transform: uppercase; }
    #hcard .title-head h1.title {
      color: #fff; }
  #hcard .preview-pan {
    padding: 20px 10px 20px 10px;
    border-width: 2px 2px 0 2px;
    border-color: #eeeeee;
    border-style: dotted;
    color: #333333; }
    #hcard .preview-pan .post-title {
      text-transform: uppercase;
      color: #2c3e50; }
    #hcard .preview-pan .post-content {
      padding: 5px 0; }
    #hcard .preview-pan .post-img {
      width: 100%; }
      #hcard .preview-pan .post-img img {
        opacity: 0.7;
        webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        -transform: scale(1); }
        #hcard .preview-pan .post-img img:hover {
          opacity: 1.0;
          webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);
          z-index: -10; }
    #hcard .preview-pan .post-tags p {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
      #hcard .preview-pan .post-tags p a {
        font-size: 14px;
        text-transform: none;
        margin-left: 5px;
        color: #333333;
        margin-right: 5px; }
        #hcard .preview-pan .post-tags p a:hover {
          color: #3498DB; }
    #hcard .preview-pan .post-address span {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
    #hcard .preview-pan .post-address span.address-txt p {
      font-size: 14px;
      text-transform: none;
      margin: 0;
      padding: 5px 0 0 40px; }
    #hcard .preview-pan .post-gallery {
      height: auto;
      overflow: hidden;
      padding: 5px 0; }
      #hcard .preview-pan .post-gallery p {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase; }
      #hcard .preview-pan .post-gallery ul {
        width: 100%; }
        #hcard .preview-pan .post-gallery ul li {
          float: left;
          width: 50%;
          padding: 5px;
          height: 200px;
          border: 2px solid #eeeeee; }
          #hcard .preview-pan .post-gallery ul li img {
            width: 100%;
            height: 100%;
            opacity: 0.7;
            webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out; }
            #hcard .preview-pan .post-gallery ul li img:hover {
              opacity: 1.0;
              webkit-transition: all 0.6s ease-in-out;
              -moz-transition: all 0.6s ease-in-out;
              -ms-transition: all 0.6s ease-in-out;
              -o-transition: all 0.6s ease-in-out;
              transition: all 0.6s ease-in-out; }
          #hcard .preview-pan .post-gallery ul li:hover {
            border: 2px solid #2c3e50;
            webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out; }
    #hcard .preview-pan .post-url p {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
    #hcard .preview-pan .post-url a {
      font-size: 14px;
      text-transform: none;
      margin-left: 5px;
      color: #333333;
      margin-right: 5px;
      text-decoration: underline; }
      #hcard .preview-pan .post-url a:hover {
        color: #3498DB;
        text-decoration: none;
        webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out; }
  #hcard #frontend-frm {
    padding: 20px 0;
    background-color: rgba(6, 147, 244, 0.32); }
    #hcard #frontend-frm h1 {
      font-size: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #364a5d; }
    #hcard #frontend-frm ul {
      padding: 0;
      margin: 0; }
      #hcard #frontend-frm ul li {
        padding: 0;
        margin: 0; }
    #hcard #frontend-frm li.gfield {
      padding-left: 20px;
      width: 99%;
      float: left;
      position: relative;
      height: 60px !important;
      margin-top: 10px; }
      #hcard #frontend-frm li.gfield .gfield_label {
        margin-bottom: 5px;
        position: absolute;
        left: 20;
        top: 0px;
        font-weight: 400;
        font-size: 12px;
        font-family: Roboto;
        color: #2c3e50;
        text-transform: uppercase;
        margin-left: 10px; }
      #hcard #frontend-frm li.gfield .ginput_container {
        top: 20px;
        position: absolute;
        width: 90%; }
        #hcard #frontend-frm li.gfield .ginput_container input[type="text"] {
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          height: 30px;
          background-color: #fff; }
        #hcard #frontend-frm li.gfield .ginput_container input[type="file"] {
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          height: 30px;
          background-color: #fff;
          width: 100% !important;
          padding-left: 10px; }
        #hcard #frontend-frm li.gfield .ginput_container input[type="button"] {
          border: 1px dotted #dbdbdb;
          border-radius: 2px;
          height: 30px;
          background-color: transparent;
          width: 100% !important;
          padding-left: 10px; }
        #hcard #frontend-frm li.gfield .ginput_container textarea {
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          background-color: #fff; }
    #hcard #frontend-frm li.gsection {
      height: 20px !important; }
      #hcard #frontend-frm li.gsection h2.gsection_title {
        font-size: 14px;
        font-weight: 500;
        color: #b9b9b9;
        padding-bottom: 5px;
        border-bottom: 1px solid; }
    #hcard #frontend-frm .gform_wrapper .gform_body .gform_fields li#field_1_15.gfield {
      height: 100px !important; }
    #hcard #frontend-frm .gform_wrapper .gform_body .gform_fields li#field_1_20.gfield {
      height: 200px !important; }
      #hcard #frontend-frm .gform_wrapper .gform_body .gform_fields li#field_1_20.gfield .ginput_container .ginput_container_list .ginput_list #input_1_20_shim {
        top: 1px; }
  #hcard .gform_wrapper .gform_footer input.button, #hcard .gform_wrapper .gform_footer input[type="image"], #hcard .gform_wrapper .gform_footer input[type="submit"] {
    background-color: transparent;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif; }
  #hcard #gform_1 .gform_footer {
    margin-left: 20px; }
  #hcard .btn, #hcard .btn-large {
    background-color: #3498db !important; }

/*# sourceMappingURL=style.css.map */
